*{
  margin: 0;
  box-sizing: border-box;
}
body>:nth-child(1){
width: 200px;
height: 300px;
}
body>:nth-child(2){
  width: 200px;
  height: 300px;
  
}
body>:nth-child(3){
  width: 200px;
  height: 300px;

}